/* ===== VARIABLES ===== */
:root {
    --background-nav: #0d1117;
    --background: #161b22;
    --font: #c9d1d9;
    --font-hover: #9683ec;
    --border: #30363d;
    --dark: #0d0d14;
    --orbitron: 'Orbitron', sans-serif;
    --nunito: 'Nunito', sans-serif;
}
/* ===== BODY ===== */
body {
    background: var(--background);
    color: var(--font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}
/* ===== NAVBAR ===== */
nav {
    background: var(--background-nav);
    border-bottom: 1px solid var(--font-hover);
    padding: 0.4rem 0.2rem !important;
    min-height: 60px;
}
.nav-link {
    color: var(--font);
}
.nav-link:hover {
    color: var(--font-hover);
}
.navbar-toggler {
    border-color: var(--font);
}
.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-logo{
    height: 60px;
    width: auto; 
}

.navbar-nav.me-auto {
    margin-left: 1.9rem;
}

/* ===== FOOTER ===== */
footer {
    background: var(--background-nav);
    border-top: 1px solid var(--font-hover);
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}

.btn-register {
    background: var(--font-hover);
    color: var(--dark) !important;
    border-radius: 6px;
    padding: 6px 14px !important;
    text-decoration: none;
    display: inline-block;
}
.btn-register:hover {
    background: var(--font);
    color: var(--dark) !important;
}
/* ===== HERO ===== */
.hero {
    color: var(--font-hover);
    padding: 3rem 0;
}
.hero h1 {
    font-family: var(--orbitron);
    font-size: 3.5rem;
    font-weight: 700 !important;
}
.hero p {
    font-family: var(--nunito);
    font-size: 1.2rem;
}
/* ===== CARDS ===== */
.list-group {
    border: 1px solid var(--font-hover);
}
.list-group-item {
    background-color: var(--background-nav);
    color: var(--font);
    border: 1px solid var(--border);
}
.section-title {
    font-family: var(--orbitron) !important;
}
.feature-card {
    padding: 1.2rem;
    text-align: center;
}
.doubles {
    background-color: var(--background-nav);
    margin-bottom: 1.2rem;
}
.feature-card:first-child {
    border-right: 5px solid var(--background);
}
/* ===== FORMULARIO ===== */
.games-form {
    border-radius: 1.5rem;
    margin-top: 1.2rem;
    padding: 2rem;
    background-color: var(--background-nav);
    box-shadow: 0px 0px 10px 1px var(--font-hover);
}
.form-title {
    font-family: var(--orbitron);
    text-align: center;
}
.genre-pill {
    font-family: var(--orbitron);
    background-color: var(--background);
    border: 2px solid var(--font-hover);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.2rem;
}
.genre-pill-active {
    background-color: var(--font-hover);
    color: var(--dark);
}

.genre-pill input[type="checkbox"] {
    display: none;
}

/* ===== GAME SHOW ===== */

.game_img {
    border:solid #30363d;
    max-width: 100%;
}

@media (max-width: 768px) {
    .navbar-nav.ms-auto {
        margin-left: 1.9rem !important;
    }
}